.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}

.paper{
  min-width: 500px;
}

.input{
  padding: 10px;
  min-width: 450px;
  color: rgba(0, 0, 0, 0.6);
}

@media (max-width: 666px) {
  .paper{
    min-width: 300px;
  }
  .input{
    min-width: 200px;
  }

}
