.list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  list-style: none;
  padding: 0;
  padding-inline: 50px;
}

.error{
  font-size: 18px;
  color: rgb(181, 36, 36);
}

.loader {
  padding: 70px;
}
